html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
img{
    width: 100%;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

button {
    background: none;
    border: none;
    font-size: inherit;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    font-family: Suite, "sans-serif";
    font-size: 16px;
    /*color: var(--text-01);*/
}

.body_all{
    background-color: var(--bg-02);
    width: 100%;
    min-height: 100vh;
}
.body_all.default{
    background-color: var(--bg-01);
}
.inner{
    display: flex;
    justify-content: center
}
.container{
    width: 1728px;
}

@media screen and (max-width: 1919px) {
    .container {
        width:1376px;
    }
}

@media screen and (max-width: 1440px) {
    .container {
        width:1024px;
    }
}

@media screen and (max-width: 1056px) {
    .container {
        width:calc(100% - 32px);
    }
}

:root{
    --primary1: #4285F4;
    --primary2: #bfd3fa;
    --primary3: #2364f4;
}

[data-theme=light]{
    --bg-01: #f8f9fa;
    --bg-02: #fff;
    --bg-element1: #fff;
    --bg-element2: #f8f9fa;
    --bg-element3: #e9ecef;
    --bg-element4: #dee2e6;
    --bg-element5: #212529;
    --bg-element6: #343a40;
    --bg-element7: #fff;
    --bg-element8: #fbfdfc;
    --text-01: #212529;
    --text-02: #495057;
    --text-03: #868e96;
    --text-04: #ced4da;
    --modal-bg: hsla(0, 0%, 90%, 0.9);
}

[data-theme=dark]{
    --bg-01: #121212;
    --bg-02: #121212;
    --bg-element1: #1e1e1e;
    --bg-element2: #1e1e1e;
    --bg-element3: #252525;
    --bg-element4: #2e2e2e;
    --bg-element5: #f1f3f5;
    --bg-element6: #f8f9fa;
    --bg-element7: #252525;
    --bg-element8: #0c0c0c;
    --text-01: #ececec;
    --text-02: #d9d9d9;
    --text-03: #acacac;
    --text-04: #595959;
    --modal-bg: rgba(37, 37, 37, 0.89);
}

/* 로고 폰트 */
@font-face {
    font-family: 'MapoDacapo';
    font-weight: normal;
    font-style: normal;
    src: url("../../public/fonts/MapoDacapo.ttf");
}

/* 기존 기본 폰트 */
/*@font-face {*/
/*    font-family: "omyu";*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*    src: url("../../public/fonts/omyu-pretty.ttf");*/
/*}*/

/* 기본, 게시글 폰트 */
@font-face {
    font-family: "Suite";
    font-weight: 300;
    font-style: normal;
    src: url("../../public/fonts/SUITE-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Suite";
    font-weight: 400;
    font-style: normal;
    src: url("../../public/fonts/SUITE-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Suite";
    font-weight: 500;
    font-style: normal;
    src: url("../../public/fonts/SUITE-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Suite";
    font-weight: 600;
    font-style: normal;
    src: url("../../public/fonts/SUITE-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Suite";
    font-weight: 700;
    font-style: normal;
    src: url("../../public/fonts/SUITE-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Suite";
    font-weight: 900;
    font-style: normal;
    src: url("../../public/fonts/SUITE-ExtraBold.woff2") format("woff2");
}
